:root {
  /* colors */
  --dark-1: #171717;
  --dark-2: #262626;
  --dark-3: rgba(54, 54, 54, 0.5);
  --grey: rgb(189, 189, 189, 0.3);
  --light: rgb(189, 189, 189, 0.985);
  --purp: rgb(128, 103, 220);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  color: inherit;
  text-decoration-skip-ink: auto;
}

a:hover {
  color: var(--purp);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

html {
  background-color: var(--dark-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
  color: var(--light);
}

/* main layout */

.app {
  min-height: 100vh;
  /* height: 100vh; */
  width: 100vw;
  margin: auto;
  max-width: 1200px;
}

.section {
  display: flex;
  flex-direction: column;
  height: calc(85vh - 28px);
  min-width: 50vw;
  margin: auto;
  padding: 0 10px;
}

/* sidebar */

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--grey);
  padding: 10px 0;
}

.sidebarHeader {
  display: none;
}

.titleContent {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: var(--light);
  cursor: default;
}

.tabContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  max-height: 790px;
  color: var(--light);
  margin-top: 70px;
  margin-bottom: 30px;
}

.lowerTabs {
  text-align: right;
  font-size: 12px;
}

/* main content */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: default;
}

.hamburger {
  display: flex;
  fill: var(--light);
}

.inputField {
  height: 40px;
  width: 160px;
  border: none;
  border-radius: 3px;
  background-color: var(--dark-3);
  cursor: text;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.inputBtn {
  margin-left: 5px;
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  background-color: var(--dark-3);
  font-weight: 600;
  cursor: pointer;
}

/* tracks */

.trackRow {
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-radius: 3px;

  background-color: var(--dark-3);
  color: var(--light);
}

.rowEl {
  margin: 0;
  padding: 0;
  cursor: default;
}

.rank {
  width: 15%;
  max-width: 50px;
  margin: 0px 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.trackData {
  margin: 3px 0;
  padding: 0;
}

.artist {
  font-size: 13px;
  font-weight: 500;
}

.track {
  font-size: 12px;
  font-weight: 400;
}

/* trends */

.audioFeatures {
  padding: 10px 5px;
}

.featureDescription {
  margin: 5px 0;
  font-size: 12px;
}

/* about */

.aboutHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aboutContent h2 {
  margin: 10px 0;
}

.aboutContent p {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: var(--purp);
  border-radius: 2px;
  padding: 2px 0;
}

.footerContainer {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  color: var(--dark-1);
  font-size: 15px;
  font-weight: 500;
}

.sourceLink {
  margin-top: 10px;
  color: var(--light);
}

.sourceLink:hover {
  color: var(--purp);
}

/* utilities */

.scroll {
  overflow-y: scroll;
}

.loading,
.error h1 {
  text-align: center;
  color: var(--light);
}

.wire {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: white;
}

@media only screen and (min-width: 800px) {
  .sidebarHeader {
    display: block;
  }

  .mobileHeader {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .tabContainer {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section {
    height: calc(100vh - 28px);
    margin-left: 15vw;
  }

  .footerContainer {
    max-width: 1200px;
  }

  .aboutHeader {
    height: 50px;
  }
}
